/*Desktop*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

/* AREA PRINCIPAL */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    padding: 16px;

    margin: 0 auto;

    overflow-x: hidden;
    overflow-y: auto;
}

/* BOARD */
.board {
    display: flex;
    flex: 1;
    min-height: 0;

    overflow-x: auto;
    overflow-y: hidden;

    gap: 20px;
    justify-content: flex-start;

    padding: 5px 0;

    scroll-behavior: smooth;
}

/* Tablet */
@media (max-width: 1024px) {
    .content {
        padding: 10px;
        max-width: 100%;
    }

    .board {
        gap: 5px;
        padding: 0 5px;
        justify-content: space-between;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
}

/* Mobile */
.mobile-tabs {
    display: flex;
    gap: 8px;
    padding: 8px;
    border-bottom: 1px solid #e5e7eb;
}

.mobile-tabs button {
    flex: 1;
    padding: 8px;
    min-height: 40px;
    border-radius: 8px;
    background: #f3f4f6;
}

.mobile-tabs button.active {
    background: #111827;
    color: white;
}
/* FAB */

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 56px;
    height: 56px;

    border-radius: 50%;
    background: #111827;
    color: white;

    font-size: 24px;
    font-weight: 600;

    display: none;
    align-items: center;
    justify-content: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    z-index: 1000;

    transition: all 0.2s ease;
}

.fab:hover {
    background: #1f2937;
}

.fab:active {
    transform: scale(0.92);
}

@media (max-width: 920px) {
    .content {
        padding: 8px;
    }

    .board {
        overflow-x: hidden;
        scroll-snap-type: none;
        gap: 8px;
        padding: 0;
    }
    .fab {
        display: flex;
    }
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;

    display: flex;
}

.menu-content {
    width: 260px;
    height: 100%;

    background: white;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    animation: slideIn 0.2s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
